{% extends "hello/layout.html" %} 
{% block title %} Utilisateur {% endblock %}
{% block content %}
    <h1>Utilisateurs</h1>
    <hr />
    {% if list_all_user %}
      <ul class="list-group">
      {% for user in list_all_user %}
          <a href="{% url 'hello:detail' user.id %}" class="list-group-item list-group-item-action">
              {{user.name}} {{user.lastname}}
          </a>
      {% endfor %}
      </ul>
    {% else %}
        <p>No users are available.</p>
    {% endif %} 
{% endblock %}
